include LICENSE
exclude *.in
exclude *.lock
exclude *.py
exclude README.md
recursive-exclude drawio *.drawio
recursive-exclude drawio *.png
recursive-exclude drawio *.svg
recursive-exclude tests *.py
